.px-1 {
    padding: 0px 1px;
}
.px-2 {
    padding: 0px 2px;
}
.px-3 {
    padding: 0px 3px;
}
.px-4 {
    padding: 0px 4px;
}
.px-5 {
    padding: 0px 5px;
}
.px-6 {
    padding: 0px 6px;
}
.px-7 {
    padding: 0px 7px;
}
.px-8 {
    padding: 0px 8px !important;
}
.px-20 {
    padding: 0px 20px !important;
}
.pt-5 {
    padding-top: 5px;
}
.p-20 {
    padding: 20px;
}