.px-1 {
    padding: 0px 1px  !important;
}
.px-2 {
    padding: 0px 2px !important;
}
.px-3 {
    padding: 0px 3px !important;
}
.px-4 {
    padding: 0px 4px !important;
}
.px-5 {
    padding: 0px 5px !important;
}
.px-6 {
    padding: 0px 6px !important;
}
.px-7 {
    padding: 0px 7px !important;
}
.px-8 {
    padding: 0px 8px !important;
}
.px-20 {
    padding: 0px 20px !important;
}
.px-30 {
    padding: 0px 30px !important;
}
.pt-5 {
    padding-top: 5px  !important;
}
.pt-10 {
    padding-top: 10px  !important;
}
.pt-15 {
    padding-top: 15px  !important;
}
.pt-20 {
    padding-top: 20px  !important;
}
.pt-25 {
    padding-top: 25px  !important;
}
.p-20 {
    padding: 20px  !important;
}
.p-30 {
    padding: 30px  !important;
}
.p-40 {
    padding: 40px  !important;
}
.p-10 {
    padding: 10px  !important;
}

.py-10 {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
.py-15 {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}
.py-20 {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}
.py-25 {
    padding-bottom: 25px !important;
    padding-top: 25px !important;
}
.py-30 {
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}
.py-40 {
    padding-bottom: 40px !important;
    padding-top: 40px !important;
}
.pr-10 {
    padding-right: 10px !important;
}
.pr-20 {
    padding-right: 20px !important;
}
.pr-100 {
    padding-right: 100px !important;
}

.pl-10 {
    padding-left: 10px !important;
}
.pl-20 {
    padding-left: 20px !important;
}
.w-100 {
    width: 100% !important;
}
.w-50 {
    width: 50% !important;
}
.w-45 {
    width: 45% !important;
}
.w-40 {
    width: 40% !important;
}
.w-80 {
    width: 80% !important;
}
.w-25px {
    width: 25px !important;
}
.text-underlined {
    text-decoration: underline !important;
}
.fs-30 {
    font-size: 30px !important;
}
.fs-32 {
    font-size: 32px !important;
}
.fs-28 {
    font-size: 28px !important;
}
.fs-26 {
    font-size: 26px !important;
}
.fs-24 {
    font-size: 24px !important;
}
.fs-22 {
    font-size: 22px !important;
}
.fs-20 {
    font-size: 20px !important;
}
.fs-18 {
    font-size: 18px !important;
}
.fs-16 {
    font-size: 16px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.fs-12 {
    font-size: 12px !important;
}
.fs-10 {
    font-size: 10px !important;
}
.fw-100 {
    font-weight: 100 !important;
}
.fw-200 {
    font-weight: 200 !important;
}
.fw-300 {
    font-weight: 300 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-800 {
    font-weight: 800 !important;
}
.fw-900 {
    font-weight: 900 !important;
}
.gap-1 {
    gap: 5px !important;
}
.gap-2 {
    gap: 10px !important;
}
.gap-3 {
    gap: 15px !important;
}
.gap-4 {
    gap: 20px !important;
}
.gap-5 {
    gap: 25px !important;
}
.gap-6 {
    gap: 30px !important;
}
.mb-1 {
    margin-bottom: 5px !important;
}
.mb-2 {
    margin-bottom: 10px !important;
}
.mb-3 {
    margin-bottom: 15px !important;
}

.mb-4 {
    margin-bottom: 20px !important;
}
.mb-5 {
    margin-bottom: 25px !important;
}
.mb-6 {
    margin-bottom: 30px !important;
}
.mb-7 {
    margin-bottom: 35px !important;
}
.mb-8 {
    margin-bottom: 40px !important;
}
.mt-1 {
    margin-top: 5px !important;
}
.mt-2 {
    margin-top: 10px !important;
}
.mt-3 {
    margin-top: 15px !important;
}

.mt-4 {
    margin-top: 20px !important;
}
.mt-5 {
    margin-top: 25px !important;
}
.mt-6 {
    margin-top: 30px !important;
}
.mt-7 {
    margin-top: 35px !important;
}
.mt-8 {
    margin-top: 40px !important;
}

.MuiInputBase-formControl {
    border-radius: 0px !important;
    background: #f9f9f9
}

.primary-button {
    background-color: var(--primary-color) !important;
    color: white;
    padding: 20px !important;
    font-weight: 600;
    font-family:
    'Jost';
}
.primary-button:hover {
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    background-color: white !important;
}
.Mui-error {
    color: #d32f2f !important;
}
.loan-form {
    box-shadow: 0px 1px 0px 1px #ddddddab;
}