:root {
  --primary-color: #f38705;
  --primary-color1: #e9651a;
  --secondary-color: #fafafa;
  --secondary-color1: #f5f5f5;
  --secondary-color2: #f6f6f6;
  --head-color: #16243e;
  --text-color1: #666666;
  --text-color2: #b3b3b3;
  --text-color3: #696969;
  --button-color1: #797978;
  --section-color1: #fcfcfc;
}

.text-primary1 {
  color: var(--primary-color1) !important;
}
.text-black {
  color: black !important;
}
.section-color1 {
  background-color: var(--section-color1);
}
.flex {
  display: flex !important;
}
.items-center {
  align-items: center !important;
}
.justify-center {
  justify-content: center !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.text-end {
  text-align: right;
}
.text-start {
  text-align: left;
}
.text-center {
  text-align: center;
}

.flex-box {
  display: none;
}

.more-icon {
  display: block;
}

.link {
  color: "var(--text-color3) !important";
}
.footer-text {
  font-size: 20px !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
.about-card {
  background-color: var(--secondary-color2);
  padding: 21px;
  border-radius: 6px;
  width: 100%;
}

.about-card .text-primary1 {
  font-size: 32px !important;
  font-weight: 900;
  letter-spacing: 3px !important;
}

.about-card .text-black {
  font-weight: 900;
}

.spinner-logo {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.get-otp-btn {
  background: var(--button-color1) !important;
  padding: 3px 12px !important;
  border-radius: none !important;
}

.get-otp-btn-primary {
  background: var(--primary-color) !important;
  padding: 3px 12px !important;
  border-radius: none !important;
}

.main-section {
  padding: 15px 10px;
}
.otp-input {
  width: "400px";
}

.about-text-section {
  padding: 10px 20px;
}

.border-left-disabled {
  border-left: 5px solid var(--button-color1) !important;
}

.border-left-primary {
  border-left: 5px solid var(--primary-color) !important;
}

.input-otp {
  letter-spacing: 30px;
  text-align: center;
}
.input-no {
  margin-left: 5px !important;
  letter-spacing: 2px !important;
}
.contact-text1 {
  padding: 10px 10px !important;
}
.contact-text2 {
  padding: 0px 20px !important;
}
.loan-img {
  padding: 15px;
  border: 1px solid #d1cdcd17;
  border-radius: 80px;
  box-shadow: 0px 4px 0px 0px #ddd;
  display: block;
  position: absolute;
  top: 0px;
  left: 27%;
  background: white;
}
.loan-img img {
  width: 75px;
}

.inner-bg {
  width: 200px;
  bottom: 0;
  margin-top: 60px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 20px;
  height: 122px;
  border: 1px solid #ddd;
}
.main-tab {
  margin: 0px !important;
  padding: 0px !important;
}
.main-tab.Mui-selected .inner-bg {
  background: var(--primary-color);
}

.MuiRadio-root.Mui-checked {
  color: #FF9800 !important;
}


@media (min-width: 600px) {
  .flex-box {
    display: flex;
    align-items: center;
    gap: 35px;
    /* Add any other styles you need */
  }
  .more-icon {
    display: none;
  }

  .loan-bullet-list {
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .get-otp-btn {
    background: var(--button-color1) !important;
    padding: 15px 40px !important;
    border-radius: none !important;
  }

  .get-otp-btn-primary {
    background: var(--primary-color) !important;
    padding: 15px 40px !important;
    border-radius: none !important;
  }
  .main-section {
    padding: 20px 40px;
  }
  .otp-input {
    width: "460px";
  }
  .about-text-section {
    padding: 0px 60px;
  }
  .input-otp {
    letter-spacing: 30px;
    text-align: center;
  }
  .input-no {
    margin-left: 5px !important;
    letter-spacing: 2px !important;
  }
  .contact-text1 {
    padding: 20px 128px !important;
  }
  .contact-text2 {
    padding: 0px 180px !important;
  }
  .loan-img {
    padding: 15px;
    border: 1px solid #d1cdcd17;
    border-radius: 80px;
    box-shadow: 0px 4px 0px 0px #ddd;
  }
  .loan-img img {
    width: 75px;
  }
}
